/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('/assets/fonts/IBMPlexSansArabic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
